VAULT_ADDR=https://vault.mydomain.com
VAULT_TOKEN=XXXXXXXXXXXXXXXXXXX
OPENBAO_ADDR=https://openbao.mydomain.com
OPENBAO_TOKEN=XXXXXXXXXXXXXXXXXXX
DRY_RUN=false
SKIP_TLS_VERIFY=false
SKIP_MOUNTS=sys,identity,cubbyhole
CONCURRENCY=5
